PUBLIC_API_BASE=https://fairfood.fairfood100.workers.dev
DATABASE_ID=d6950e98-4c6b-4247-bb28-67438d08b806

JWT_SECRET=PUT_THIS_AS_WRANGLER_SECRET

GOOGLE_MAPS_API_KEY=REPLACE_ME
MAPBOX_TOKEN=REPLACE_ME
STRIPE_SECRET_KEY=REPLACE_ME
APPLE_PAY_MERCHANT_ID=REPLACE_ME
GOOGLE_PAY_MERCHANT_ID=REPLACE_ME
R2_BUCKET=REPLACE_ME
EMAIL_PROVIDER_KEY=REPLACE_ME
SMS_PROVIDER_KEY=REPLACE_ME
PUSH_CERTIFICATES=REPLACE_ME
